= link_to('Upload video', new_video_path) if logged_in?

%h1 Video list

- @videos.each do |video|
  %h3= link_to video.title, video
  %p= truncate video.description, lenght: 200

= will_paginate @videos, :param_name => :page
